.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 5px;
  margin-bottom: 20px;
  max-width: 300px;
}

.contactFormGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.contactFormGroup label {
  margin-bottom: 5px;
}

.contactFormGroup input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
}

.contactFormSubmit {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}